<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tutorial Suite">
    <listeners>
        <listener class-name="listeners.MyListener"> </listener>
    </listeners>
    <test name="All testcases">
        <classes>

            <class name="testcases.Register">
                <methods>
                    <include name="verifyRegisterWithMandatoryFileds"/>
                    <include name="verifyRegisterWithExistingEmail"/>
                    <include name="verifyRegisterWithNullData"/>
                </methods>
            </class>
            <class name="testcases.Login">
                <methods>
                    <include name="verifyLoginwithValidCredentials"/>
                    <include name="verifyLoginwithInvalidCredentials"/>
                    <include name="verifyLoginwithvalidEmailandInvalidPass"/>
                    <include name="verifyLoginwithInvalidEmailandValidPass"/>
                    <include name="verifyLoginwithNullData"/>
                </methods>
            </class>
            <class name="testcases.Search">
                <methods>
                    <include name="verifySearchwithValidProduct"/>
                    <include name="verifyInvalidProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>